version: '3.8'

services:
  web:
    build: .
    command: gunicorn --bind 0.0.0.0:8000 aquawatch.wsgi:application
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    ports:
      - "8000:8000"
    environment:
      - SECRET_KEY=django-production-secret-key-change-this
      - DEBUG=False
      - ALLOWED_HOSTS=localhost,127.0.0.1

volumes:
  static_volume:
