name: Run Pytest

on:
  push:
    branches: [ "*" ]
    tags: 
      - 'v*.*.*'
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Run migrations
        env:
          SECRET_KEY: test-secret-key-for-ci
          DEBUG: True
        run: python manage.py migrate
      - name: Run tests
        env:
          SECRET_KEY: test-secret-key-for-ci
          DEBUG: True
        run: DJANGO_SETTINGS_MODULE=aquawatch.settings pytest

  release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    needs: tests  # Wait for tests to pass first
    
    permissions:
      contents: write
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      
      - name: Create Release
        uses: softprops/action-gh-release@v2
